$normal-img:"https://hackeraviator.com/background.f57c8d8915060351.jpg";

body {
  background-image:url($normal-img);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* Adiciona uma camada escura no fundo */
#myDialog::backdrop {
  background-color: rgba(0, 0, 0, 5);
}
/* Deixa o fundo da página desfocado */
#myDialog {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #333;
  border-radius: 20px;
}

#myDialog1::backdrop {
  background-color: rgba(0, 0, 0, 5);
}
/* Deixa o fundo da página desfocado */
#myDialog1 {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #333;
  border-radius: 20px;
}

#butao {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  border-radius: 20px;
}

#butao:hover {
  background-color: #0E3B00;
}

#bttn1 {
    background: #09DD00;
    width: 300px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#bttn2 {
    background: #da0021;
    width: 300px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#bttn3 {
    background: #808080;
    width: 300px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
